---
import { getAsset } from "~/utils/permalinks";
---
<img style="width: 50px; height: 50px;" alt="steel made logo" src={getAsset('/logo.png')}/>
<span class="self-center ml-2 text-2xl md:text-xl font-bold text-blue-900 whitespace-nowrap dark:text-white">
  steel made</span>

